# node_modules
node_modules/
.node/

# Build output
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Local environment & IDE files
.env
.env.local
.vscode/
.idea/
.DS_Store
